<footer class="application-footer">
	<div class="row">
		
		<div class="col span-1-of-3">
			<h5>Sunday Market! Copyrigth 2017</h5>
		</div>

		<div class="col span-1-of-3 social-links">
			<h3>Social Links</h3>
			<i class="fa fa-facebook-official"></i><%= link_to "Facebook", "" %><br />
			<i class="fa fa-twitter-square"></i><%= link_to "Twitter", "" %><br />
			<i class="fa fa-youtube-square"></i><%= link_to "You Tube", "" %>
		</div>

		<div class="col span-1-of-3">
			<h3>About us</h3>
			<p>
				Sunday Market! it's the first place to provide you a preview of the
				products that you can find over the market.
			</p>
		</div>
	</div>
</footer>