<header>
	<div class="text-box">
		<h1>Sunday Market!</h1>
		<%= link_to "More Information", "", class: "btn btn-full" %>
		<%= link_to "Testimonies", "", class: "btn btn-ghost" %>
	</div>
</header>

<section class="section about-market">
	<div class="container">
		<div class="row">
			<div class="col span-3-of-3">
				<h1>What Is Sunday Market!?</h1>
				<span>
					Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............
				</span>
			</div>
		</div>
	</div>
</section>