/* --------------------------------------------------------*/
/* INDEX VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 
.section-product-index {
	float: left;
	width: 100%;
}

.section-product-index h1 {
	text-align: center;
}
.product-fa{
	font-size: 2em;
   text-decoration: none;
   margin: 0 20px;
}

.product-info-index {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  height: 535px;
  margin-left: 5%;
  margin-bottom: 10%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.product-info-index img {
	height: 300px;
}
/* --------------------------------------------------------*/
/* INDEX VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 
.hr-clear {
	clear: both;
    border: 1px solid transparent;
    height: 1px;
}

.product-fa-pencil {
  background:rgba(255,255,255,0.5);
  text-decoration: none;
  font-size: 1.7em;
  color: #4CD762;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 11px;
  margin: 5px 15px;
  transition: color 1s, background-color 1s;
  &:hover {
    color: rgba(255,255,255,0.5);
    background-color: #4CD762;
    transition: color 1s, background-color 1s;
  }
}

 .product-fa-ban {
  background:rgba(255,255,255,0.5);
  text-decoration: none;
  font-size: 2em;
  color: #eb0708;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 11px; 
  margin: 0px 15px;
  transition: color 1s, background-color 1s;
  &:hover {
    color:rgba(255,255,255,0.5);
    background-color: #eb0708;
    transition: color 1s, background-color 1s;
  }
}

/* --------------------------------------------------------*/
/* SHOW VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 
.section-product-show {
	margin-left: 20%;
}

.show-product-information-user {
	width: 50%;
	margin-left: 15%;
	padding: 20px 10px;
	margin-top: -3%;
	margin-left: -1px;
}

.product-summary {
	margin-top: -10%;
	font-size: 80%;
	opacity: 0.7;
}

.product-description-user {
	margin-top: 2%;
	font-weight: 600;
	font-size: 120%;
	background-color: #4CD762;
	width: 50%;
	padding: 10px 20px;
	color: #fff;
}

.product-show-price {
	font-weight: bold;
	margin-top: 5%;
	margin-left: 2%;
	font-size: 120%;
}

.show-product-information-user ul {
	margin-left: 5%;
	margin-top: 5%;
	font-size: 100%;
}


.show-product-information-user ul li { margin-top: 1%; }

.product-sold-by { margin-left: 2%;	}

.product-sold-by img {
	border-radius: 20%;
}


/* --------------------------------------------------------*/
/* SHOW VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 
.product-show-view {
	object-fit: none;
}

/* --------------------------------------------------------*/
/* EDIT VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 
.section-form-product h1 {
	text-align: center;
}

.section-form-product .btn-submit {
	margin-left: 2%;
}

.image-product-container {
	background-color: #fff;
	margin-left: 20%;
	overflow: hidden;
	text-align: center;
	padding: 20px 20px;
	width: 69%;
	height: auto;
	border-radius: 5%;
	border: 1px solid #c3c3c3;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
	box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}

.image-product-container img {
	border-radius: 5%;
	height: 400px;
	width: 100%;
}

.image-product-container .btn-file {
	width: 80%;
	margin-left: 10%;
}

select#product_category_id {
	width: 100%;
}

.section-form-product .btn-actions {
	width: 100%;
}

a.remove_fields.existing {
	color: #d80b10;
	&:hover {
		color: #f31218;
		transition: color 0.5s;
	}
}

/* --------------------------------------------------------*/
/* EDIT VIEW FOR PRODUCTS */
/* --------------------------------------------------------*/ 

