/* --------------------------------------------------------*/
/* INDEX VIEW FOR USERS */
/* --------------------------------------------------------*/ 
.index-users {
  float: left;
  margin-top: 50px;
  width: 100%;
}

.index-users h1 {
  text-align: center;
  margin-top: -5%;
}

.user-info-index {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  margin-left: 18%;
  margin-bottom: 10%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.user-info-index .seller-actions {
  margin-left: -10%;
}

.user-info-index i {
  float: left;
  margin-left: 187px;
}

.user-info-index .fa-pencil {
  background:rgba(255,255,255,0.5);
  text-decoration: none;
  color: #4CD762;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 11px;
  position: absolute;
  margin-left: 50px;
  margin-top: 5px;
  transition: color 1s, background-color 1s;
  &:hover {
    color: rgba(255,255,255,0.5);
    background-color: #4CD762;
    transition: color 1s, background-color 1s;
  }
}

.user-info-index .fa-ban {
  background:rgba(255,255,255,0.5);
  text-decoration: none;
  color: #eb0708;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 11px; 
  position: absolute;
  margin-top: 5px;
  transition: color 1s, background-color 1s;
  &:hover {
    color:rgba(255,255,255,0.5);
    background-color: #eb0708;
    transition: color 1s, background-color 1s;
  }
}

.user-image-index { 
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.full-name-user-index a {
  font-size: 120%;
  font-weight: 900;
  color: #4d4d4d;
  text-decoration: none;
  &:hover{
    color: #000;
    transition: color 0.3s;
  }
}

.users-index .type-of-user {
  font-size: 90%;
  font-weight: 100;
}

.user-index-description {
  padding: 5px 5px;
  font-weight: 500;
  font-size: 80%;
}

.actions-index {
  margin-top: 20px;
  margin-bottom: 20px; 
  padding-left: 5px;
}

.user-actions {
  float: right;
  margin-top: -10px;
}

/* --------------------------------------------------------*/
/* INDEX VIEW FOR USERS */
/* --------------------------------------------------------*/  

/* --------------------------------------------------------*/
/* SHOW VIEW FOR USERS */
/* --------------------------------------------------------*/  

.image-container {
  float: left;
}

.image-container img {
  border-radius: 15%;
  border: 1px solid black;
}

.user-information {
  margin-left: -30px;
  color: black;
  line-height: 30px;
}

.full-name-shop {
  font-size: 150%;
  font-weight: 800;
  color: #4d4d4d;
}

.type-of-user {
  font-weight: 600;
  color: #4d4d4d;
}

.user-actions-show {
  float: right;
  margin-top: -10px;
}


.show-user .fa-pencil {
  background:#4CD762;
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 11px;
  position: absolute;
  margin-left: -50px;
  margin-top: 10px;
  transition: color 1s, background-color 1s;
  &:hover {
    color: #4CD762;
    background-color: rgba(255,255,255,0.5);
    transition: color 1s, background-color 1s;
  }
}

.show-user hr {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.3;
}

.email-of-user {
  color: #4d4d4d;
  font-weight: 500;
}

.products-of-user,
.phone-of-user,
.categories-of-user,
.name-of-user,
.website-of-user,
.shop-of-user {
  color: #4d4d4d;
  font-weight: 500;
}

.products-user {
  margin-top: 25px;
  background-color: #4CD762;
  width: 18%;
  padding: 10px 10px;
  border-radius: 50px;
  color: #333;
  font-weight: bold;
}

.products-user i {
  margin-right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 5px 5px;
}

.products-user a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #888;
  }
}

.edit-user-button {
  margin-top: 10px;
  float: left;
  margin-left: 90px;
}


.category-name {
  font-size: 65%;
  margin-left: 5px;
  padding: 5px 5px;
  border-radius: 150px;
  font-weight: bold;
  border: 1px solid #000;
}

.category-name a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.category-name a:hover {
  color: red;
  color: #4d4d4d;
}

/* --------------------------------------------------------*/
/* SHOW VIEW FOR USERS */
/* --------------------------------------------------------*/  


/* --------------------------------------------------------*/
/* EDIT VIEW FOR USERS */
/* --------------------------------------------------------*/

.show-image-user {
  border-radius: 50%;
  margin-left: 40%;
}

.btn-select-user-image {
  background-color: #4CD762;
  color: #000;
  font-weight: bold;
  margin-left: 41%;
  border-radius: 50px;
  padding: 10px 10px;
  transition: color 0.5s, background-color 0.5s;
  &:hover {
    background-color: #1f8d31;
    color: #fff;
    transition: color 0.5s, background-color 0.5s;
  }
}


.image-upload > input {
  display: none;
}

.btn-file {
  background-color: #d4d4d4;
  padding: 6px 6px;
  float: left;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  margin-left: 8px;
  width: 90%;
  text-align: center;
  &:hover {
    background-color: #eee;
    transition: background-color 1s;
  }
}

.form-group {
  padding: 5px 5px;
}

.input-label {
  font-size: 100%;
  font-weight: 700;
}

.input-field {
  border: 2px solid #4CD762;
  border-radius: 5px;
  padding: 5px 5px;
  width: 100%;
}

.input-file {
  border: 0px;
  border-radius: 0px;
}

/* --------------------------------------------------------*/
/* EDIT VIEW FOR USERS */
/* --------------------------------------------------------*/  


/* --------------------------------------------------------*/
/* USERS PRODUCT VIEW FOR USERS */
/* --------------------------------------------------------*/  
.section-user-products {
  margin-top: -30px;
}

.user-products-information {
  text-align: center;
}

.user-products-information img {
  border-radius: 50%;
}

.user-products-information  a {
  text-decoration: none;
  color: #4CD762;
}

.user-products-information a:hover {
  color: #000;
  transition: color 0.5s;
}

.user-products-information h1 {
  margin-top: -5px;
}

.user-products-information h4 {
  margin-top: -20px;
  font-size: 80%;
}

.section-user-products hr {
  width: 50%;
  margin-left: 25%;
  opacity: 0.2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-product-information {
  border: 1px solid red;
  padding: 25px 25px;
  border-radius: 5%;  
  margin-right: 5%;
  font-weight: bold;
}

.user-product-information img {
  text-align: center;
  margin-left: 25%;
}

.user-product-information hr {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}


.section-product {
  margin-top: -180px;
}

.product-information {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  margin-left: 18%;
  margin-bottom: 10%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.product-information img {
  border-bottom: 1px solid #bbb;
}

.product-name a {
  color: #4CD762;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  &:hover {
    color: #000;
    transition: color 0.5s;
  }
}

.product-summary {
  font-size: 80%;
}

.product-price {
  font-weight: 600;
}
/* --------------------------------------------------------*/
/* USERS PRODUCT VIEW FOR USERS */
/* --------------------------------------------------------*/  