<%= form_for @category do |category| %>
  <div class="row">
    <div class="col span-1-of-3">
      <div class="form-group">
        <%= category.text_field :name, class: "input-field", placeholder: "Caegory Name" %>
      </div>
    </div>
  </div>

  <div class="row">
    
  </div>
<% end %>