<section class="section-product-index">
	<h1>List Of All Products </h1>
	
		<%= render partial: 'products/product_card', locals: { products: @products  } %>
</section>

<%= will_paginate @products %>

  